@import "tailwindcss";

body {
  --site-bg: #dfe4e9;
  --foreground: #000000;
}

html, body, #__next {
  background: var(--site-bg);
  color: var(--foreground);
}

/* Hide scrollbar but keep scroll working */
.scrollbar-none {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Hide scrollbars but keep scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
