name: Cron Test

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print hello
        run: |
          echo "Hello from ${{ github.event_name }}"
          date -u
